@use "sass:list";
@use "sass:color";

body {
    margin: 0;
    font-family: $font;
}

.page {
    max-width: 40rem;
    margin-inline: auto;

    &-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter-from {
    opacity: 0;
    transform: translateY(20px);
}

.fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}